.wrapper {
    padding: 20px;
    border-radius: 10px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.img{
    width: 54px;
    height: 54px;
    border-radius: 5px
}

.text{
    padding: 15px;
    background-color: var(--ui-elements-color);
    border-radius: 10px;
    width: 100%;
    margin: 0 30px;
}

text::placeholder {
    color: var(--placeholder-font-color);
}

.button{
    background-color: var(--button-primary-color);
    width: 150px;
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
    font-weight: 700;
}