.wrapper {
    width: 40%;
    margin:20px auto;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.title {
    font-size: 24px;
    color: var(--accent-color);
    font-weight: 700;
}
.input {
    width: 300px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--ui-elements-color);
    margin-bottom: 20px;
}

.button{
    background-color: var(--button-primary-color);
    padding: 7px 12px;
    border-radius: 5px;
}

.button:hover{
    background-color: var(--hover-accent-color);
}

.error{
    color: red;
    margin: 5px 0;
}