.wrapper{
    width: 50%;
    background-color: var(--primary-color);
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
}

.title{
    color: var(--accent-color);
    font-weight: 700;
    font-size: 20px;
    width: 90%;
    margin: 10px auto;
}

.chat{
    cursor: pointer;
    width: 90%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    background-color: var(--ui-elements-color);
    padding: 5px;
    border-radius: 10px;
}

.chat__image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.user_and_message{
    margin-left: 10px;
}

.username{
    font-size: 18px;
}

.last_message{
    font-size: 14px;
    color: #aeaeae;
}