.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title{
    font-size: 80px;
    text-align: center;
}
.text{
    text-align: center;
    font-size: 40px;
}