:root {
    --primary-color: #262D34;
    --secondary-color: #1E252B;
    --accent-color: #FF571A;
    --hover-accent-color: #f84400;
    --ui-elements-color: #2C353D;
    --primary-font-color: #F7F7F7;
    --placeholder-font-color: #858EAD;
    --button-primary-color: #fd5523;
}