.wrapper{
    width: 70%;
    margin: 20px auto;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}
.title{
    margin: 40px 0 15px 0;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 24px;
}

.project_info__text{
    margin-bottom: 10px;
}

.project_info a{
    color: var(--accent-color);
}

.project_info a:hover{
    color: var(--hover-accent-color);
}

.team__item{
    display: flex;
    justify-content: center;
}

.team__item a{
    color : var(--accent-color);

}

.team__item a:nth-child(2){
    margin: 0 10px;
}