.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    user-select: none;
}

.modal_content {
    position: relative;
    height: 90%;
}

.image {
    width: 100%;
    height: 100%;
}

.controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.arrow {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}
